<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=groupe.name%> <%=groupe.nivel%></title>
    <link rel="stylesheet" href="../../css/profesor/groupe.css">
</head>
<body>
    <%if(groupe.teacher == user.id){%>
        <%-include('./header_p')%>
    <%}else{%>
        <%-include('../estudiante/header_e')%>
    <%}%>

    <%-include("./boxStudenst")%>

    <%if(groupe.teacher == user.id){%>
        <%include headerGroupe%>
    <%}else{%>
        <%-include('../estudiante/headerGroup_e')%>
    <%}%>   
    <div class="contain">
        
        <div class="box_two">
            <div class="info_groupe">
                <div class="info">
                    <div class="name_groupe">
                        <p><%=groupe.name%> <%=groupe.nivel%></p>
                       
                    </div>
                    <div class="descrip_groupe">
                        <p><%=groupe.description %></p>
                    </div>
                   
                </div>
            </div>
            
            <div class="contain_task">
                <div class="boxCreate">
                    <div class="viewSelect">
                        <select name="" id="selectView">
                            <option value="all">Todas</option>
                            <option value="today">Hoy</option>
                            <option value="unlimit">Rutinario</option>
                            <option value="limit">Fecha de entrega</option>
                            <option value="expired">Fecha expirada</option>
                        </select>
                    </div>
                    <strong>Tareas: <%=groupe.tasks.length%></strong>
                    <%if(groupe.teacher == user.id){%>
                        <div class="btn_create_task">
                            <a href="" id="btn_open">+ Crear tarea</a>
                        </div>
                    <%}%>
                </div>
                <div class="box_task_info">
                    <!-- <strong>Tareas: <%=groupe.tasks.length%></strong> -->
                    <div class="taskTitle">
                        <p>Titulo</p>
                    </div>
                    <div class="taskTime">
                        <p>Fecha de entrega</p>
                    </div>
                    <div class="taskPuntuacion">
                        <p>Puntuacion</p>
                    </div>
                </div>
                <div class="box_groupe" id="body_groupe">
                    <div class="stat" id="stat"></div>
                    <div class="routine" id="routine"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    <%include overlay_task%>
    <script type="module" src="../../js/groupe.js"></script>
    <script type="module" src="../../js/boxStudents.js"></script>
    <script src="../../js/headerGroupe.js"></script>
</body>
</html>