<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/profesor/groupe.css">
</head>
<body>
    <%include header_p%>

    <div class="header_groupe">
        <div class="info">
            <div class="name_groupe">
                <p><%=groupe.name%> <%=groupe.nivel%></p>
            </div>
            <div class="descrip_groupe">
                <p><%=groupe.description%></p>
            </div>
        </div>
        <div class="links">
            <div class="cth">
                <a href="" id="btn_open">Crear tarea</a>
            </div>
            <div class="cth">
                <a href="/solicitudes/<%=groupe.id%>">Solicitudes</a>
            </div>
            <div class="cth">
                <a href="/mienbros/<%=groupe.id%>">Mienbros</a>
            </div>
            <div class="cth">
                <a href="/groupe-chat/<%=groupe.id%>">Chat</a>
            </div>
            <div class="cth">
                <a href="">Calificaciones</a>
            </div>
            <div class="cth">
                <a href="/delete-groupe/<%=groupe.id%>">Eliminar groupo</a>
            </div>
        </div>
        
    </div>
    
    <div class="container">
        <div class="box_groupe" id="body_groupe"></div>
    </div>
    
    <%include overlay_task%>
    <script src="../../js/groupe.js"></script>
</body>
</html>