<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=groupe.name%> <%=groupe.nivel%></title>
    <link rel="stylesheet" href="../../css/profesor/groupe.css">
</head>
<body>
    <%if(groupe.teacher == user.id){%>
        <%-include('./header_p')%>
    <%}else{%>
        <%-include('../estudiante/header_e')%>
    <%}%>

    <%-include("./boxStudenst")%>

    <div class="contain">
        <%if(groupe.teacher == user.id){%>
            <%include headerGroupe%>
        <%}else{%>
            <%-include('../estudiante/headerGroup_e')%>
        <%}%>
    
        <div class="box_two">
            <div class="info_groupe">
                <div class="info">
                    <div class="name_groupe">
                        <p><%=groupe.name%> <%=groupe.nivel%></p>
                    </div>
                    <div class="descrip_groupe">
                        <p><%=groupe.description %></p>
                    </div>
                    <div class="li">
                        <a href="" id="btn_open">Crear tarea</a>
                    </div>
                </div>
            </div>
            
            <div class="contain_task">
                <div class="box_task_info">
                    <strong>Tareas: <%=groupe.tasks.length%></strong>
                </div>
                <div class="box_groupe" id="body_groupe"></div>
            </div>
        </div>
    </div>
    
    <%include overlay_task%>
    <script src="../../js/groupe.js"></script>
    <script src="../../js/boxStudents.js"></script>
    <script src="../../js/headerGroupe.js"></script>
</body>
</html>