<head>
    <link rel="stylesheet" href="../../css/profesor/headerGroupe.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.google.com/icons">

    <!-- https://material.io/resources/icons/?style=baseline -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
    rel="stylesheet">
    <!-- https://material.io/resources/icons/?style=outline -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
    rel="stylesheet">
    <!-- https://material.io/resources/icons/?style=round -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
    rel="stylesheet">
    <!-- https://material.io/resources/icons/?style=sharp -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
    rel="stylesheet">
    <!-- https://material.io/resources/icons/?style=twotone -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
    rel="stylesheet">
</head>

<div class="links">
    <div class="links_groupe">

        <div class="li ">
            <a class="active_item" href="/groupe/<%=groupe.id%>">Tareas</a>
        </div>
        <div class="li">
            <a href="/solicitudes/<%=groupe.id%>">Solicitudes</a>
        </div>
        <div class="li">
            <a href="/mienbros/<%=groupe.id%>">Mienbros</a>
        </div>
        <div class="li">
            <a href="/groupe-chat/<%=groupe.id%>">Chat</a>
        </div>
        <div class="li">
            <a href="">Calificaciones</a>
        </div>
        <div class="li">
            <a href="/delete-groupe/<%=groupe.id%>">Eliminar groupo</a>
        </div>
    </div>
</div>


