<head>
    <link rel="stylesheet" href="../../css/profesor/headerGroupe.css">
</head>

<div class="links">
    <div class="links_groupe">

        <div class="li">
            <a href="/groupe/<%=groupe.id%>">Tareas</a>
        </div>
        <div class="li">
            <a href="/solicitudes/<%=groupe.id%>">Solicitudes</a>
        </div>
        <div class="li">
            <a href="/mienbros/<%=groupe.id%>">Mienbros</a>
        </div>
        <div class="li">
            <a href="/groupe-chat/<%=groupe.id%>">Chat</a>
        </div>
        <div class="li">
            <a href="">Calificaciones</a>
        </div>
        <div class="li">
            <a href="/delete-groupe/<%=groupe.id%>">Eliminar groupo</a>
        </div>
    </div>
</div>


