<head>
    <link rel="stylesheet" href="../../css/profesor/list_group.css">
</head>

<%groupe.groupes.forEach(groupe =>{%>
    <a href="/groupe/<%=groupe.id%>" class="groupe" >
        <div class="box_element">
            <div class="header-groupe">
                <p class="name_groupe"><%=groupe.name%> <%=groupe.nivel%></p>
            </div>
            <div class="list_body">
                <div class="description">
                    <p><%=groupe.description%></p>
                </div>
            </div>
            <div class="fooder-groupe">
                <!-- <a href="/groupe/<%=groupe.id%>">
                    Entrar
                </a> -->
            </div>
        </div>
    </a>
    
<%})%>

