<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/profesor/viewTask.css">
    <title>Tarea</title>
</head>
<body>
    <%if(groupe.teacher == user.id){%>
        <%-include('../header_p')%>
    <%}else{%>
        <%-include('../../estudiante/header_e')%>
    <%}%>

    <%if(groupe.teacher == user.id){%>
        <%-include("../headerGroupe")%>
    <%}else{%>
        <%-include('../../estudiante/headerGroup_e')%>
    <%}%>
    <div class="contain">
        
        <div class="task_contain" >
            <div class="boxdf">
                <div class="task_description" id="description" data-id="<%=task.id%>"></div>
                <div class="task_file" id="task_files"></div>
            </div>
            <%if(groupe.teacher == user.id){%>
                <div id="show_taskSent"></div>
            <%}else{%>
                <div class="overlay_sentTask"></div>
                <a id="btn_openForm" href="">Subir Tarea</a>
                <div class="showMyTask" id="showMyTask" data-id="<%=user.id%>"></div>
            <%}%>
            
        </div>

    </div>
     
    
    <%-include("../overlaySentTask")%>
    <%-include("../detailsTask")%>

    <script src="../../../js/viewTask.js" type="module"></script>
    <script src="../../../js/headerGroupe.js"></script>

</body>
</html>